/*
white: #f7f9f9;
light-blue: #2081c3;
dark-blue: #0a2c42;
grey: #bfbfbf;
font-family: Arial, Helvetica, sans-serif;
*/

.images {
    width: 100px;
}
.randmom {
    display: flex;
}
.randomInfo {
    width: 400px;
}
.divImage {
    display: flex;
    padding: 30px;
}
.allBeersList {
    display: flex;
}

body {

background-color: aqua;
font-family: Arial, Helvetica, sans-serif;
}